<%= title %>declare namespace <%= name %> {
  <% schemas.forEach(schema => { %>
    <%= schema %>
  <% }); %>

  <% resources.forEach(resource => { %>
    <%= resource %>
  <% }); %>
}

export default <%= name %>;
